body{
    font-family: Arial;
    text-align:center;
}

.menu{
    background:#222;
    padding:10px;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}

.ativo{
    background:red;
    color:white;
}

/* GIF começa escondido */
#gif{
    display:none;
    margin-top:20px;
    width:200px;
}