body{

    background-color:chocolate;
}
h2{

    color: white;
}
h1{
    color: yellow;
}

/*  
    comentario
                    */

@media screen and (min-width:0) and (max-width: 480px ){
    body{
        background-color:blue;
    }


    
}