body {
    margin: 0;
    font-family: Arial;
}

.menu {
    background: #222;
    padding: 10px;
}

.menu button {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.menu button:hover {
    background: #666;
}

.conteudo {
    padding: 20px;
}


/* ===== CELULAR ===== */
@media (max-width: 480px) {

    body {
        background-color: blue;
    }

    .menu {
        flex-direction: column; /* vira vertical */
        align-items: center;
        display: flex; /* IMPORTANTE */
    }

    .menu button {
        width: 90%;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {

    body {
        background-color: gray;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu button {
        width: 90%;
        margin: 5px 0;
    }
}